* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Segoe UI', Arial;
    text-decoration: none;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}